<p id="notice"><%= notice %></p>

<p>
  <strong>Carno:</strong>
  <%= @car.carno %>
</p>

<p>
  <strong>Rant:</strong>
  <%= @car.rant %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
